@import "./variables.scss";

.section {
  text-align: center;
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding: 2em;
  margin: auto;
  @media (min-width: $mdScreen) {
    max-width: 70%;
  }
  @media (min-width: $lgScreen) {
    max-width: 60%;
  }
}

.header {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  @media (min-width: $mdScreen) {
    font-size: 48px;
  }
}

.description {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 5%;
  line-height: 24px;
  // opacity: 0.6;
}
