.section {
  text-align: center;
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    0deg,
    #19aabf 0%,
    #1ba6bf 8%,
    #2399c1 16%,
    #2f84c3 25%,
    #4066c6 34%,
    #5540ca 43%,
    #691ece 50%,
    #0a0c11 88%,
    #000 100%
  );
}

.wrapper {
  max-width: 60%;
  margin: auto;
}

.header {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.description {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 5%;
  line-height: 24px;
  opacity: 0.6;
}
