.section {
  max-height: 100vh;
  color: #f8f9fa;
  background: linear-gradient(180deg, #19aabf 0.01%, #5316b6 100%);
  position: relative;
}

.row {
  display: flex;
  .column {
    display: relative;
    // flex: 1;
  }
}

.model {
  width: 50%;
  height: auto;
  //   position: absolute;
}
